In [1]:
import pandas as pd

In [2]:
# Load the Excel file into a pandas DataFrame
df = pd.read_excel('l2-exercise2-3.xlsx')

In [3]:
df.head()

    user_id       page
0  313593.0  home_page
1  468315.0  home_page
2  264005.0  home_page
3  290784.0  home_page
4  639104.0  home_page

In [4]:
df["page"].unique()

array(['home_page', 'payment_page', 'search_page',
       'payment_confirmation_page'], dtype=object)

In [8]:
# Define the order of the funnel steps
funnel_steps = ['home_page', 'search_page', 'payment_page', 'payment_confirmation_page']

# Group by page and count unique user_ids, reindexing to match the funnel steps
funnel_df = df.groupby('page')['user_id'].nunique().reindex(funnel_steps, fill_value=0)

# Convert the Series to a DataFrame for better visualization
funnel_df = funnel_df.reset_index()
funnel_df.columns = ['Funnel Step', 'Unique Users']

conversion_rate = []
previous_users = None
for users in funnel_df['Unique Users']:
    if previous_users is None:  # This is the first step
        conversion_rate.append(1)  # 100%
    else:
        rate = users / previous_users
        conversion_rate.append(rate)
    previous_users = users

funnel_df['Conversion Rate'] = conversion_rate

# Convert conversion rate to percentage format for better readability
funnel_df['Conversion Rate'] = funnel_df['Conversion Rate'].apply(lambda x: f"{x:.2%}")

funnel_df

                 Funnel Step  Unique Users Conversion Rate
0                  home_page         90400         100.00%
1                search_page         45200          50.00%
2               payment_page          6030          13.34%
3  payment_confirmation_page           452           7.50%