In [1]:
import pandas as pd

In [2]:
# Load the CSV file into a pandas DataFrame
df = pd.read_csv('Flyber_event_logs.csv')

In [5]:
df.head()

,event_uuid,user_uuid,event_time,age,session_uuid,experiment_group,user_neighborhood,event_type
0,b9e9489e-1218-4715-b42e-604e3745db07,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:34:23,40-49,2d7b8da3-573a-447f-9964-acf32526b1db,experiment_1,Manhattan,open
1,a4ff8e2c-2701-4a32-9029-bdf6efc155c5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:45,40-49,2d7b8da3-573a-447f-9964-acf32526b1db,experiment_1,Manhattan,#_of_users
2,41b4f6b1-cc14-4c77-a520-50c1cb9cd592,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:37:31,40-49,2d7b8da3-573a-447f-9964-acf32526b1db,experiment_1,Manhattan,search
3,73b945e9-691e-4e63-aa4d-da2f74599388,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-12 06:27:13,40-49,8a08005b-7e74-4664-b25d-9e29d8316d71,experiment_1,Manhattan,open
4,a070700c-8bd9-4b5a-9325-e029fda604c7,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-12 06:28:10,40-49,8a08005b-7e74-4664-b25d-9e29d8316d71,experiment_1,Manhattan,#_of_users

In [6]:
df.describe()

,event_uuid,user_uuid,event_time,age,session_uuid,experiment_group,user_neighborhood,event_type
count,367083,367083,367083,367083,367083,367083,367083,367083
unique,367083,81557,274610,4,226155,4,5,4
top,b9e9489e-1218-4715-b42e-604e3745db07,aff4fb1b-414a-4f65-9b04-9e9cab138ddf,2019-10-10 14:12:42,50+,9c826a19-9f4a-4ab7-b036-b0a27ad96a39,experiment_2,Manhattan,open
freq,1,15,7,176195,4,92402,257259,226155